<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MorningStar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <MorningStar.Properties.Settings>
            <setting name="NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="COMMENT" serializeAs="String">
                <value />
            </setting>
            <setting name="LOOKING" serializeAs="String">
                <value />
            </setting>
            <setting name="AVOIDING" serializeAs="String">
                <value />
            </setting>
            <setting name="REGION" serializeAs="String">
                <value />
            </setting>
            <setting name="GG" serializeAs="String">
                <value />
            </setting>
            <setting name="TYPE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NUM_VS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RESPONSE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEBUG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RAND_SEARCH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="INITIALISED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SHOW_TOP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KGT2K" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SEED" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MAX_STAGE" serializeAs="String">
                <value>0</value>
            </setting>
        </MorningStar.Properties.Settings>
    </userSettings>
</configuration>