<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MorningStar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <MorningStar.Properties.Settings>
            <setting name="NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="COMMENT" serializeAs="String">
                <value />
            </setting>
            <setting name="LOOKING" serializeAs="String">
                <value />
            </setting>
            <setting name="AVOIDING" serializeAs="String">
                <value />
            </setting>
            <setting name="REGION" serializeAs="String">
                <value />
            </setting>
            <setting name="GG" serializeAs="String">
                <value />
            </setting>
            <setting name="TYPE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NUM_VS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RESPONSE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEBUG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RAND_SEARCH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="INITIALISED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SHOW_TOP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KGT2K" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SEED" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MAX_STAGE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="STAGE_SELECT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ROUND" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TIMER" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PROCESS_ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CONTROL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P1_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="P2_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="ORIGINAL_TITLE" serializeAs="String">
                <value />
            </setting>
            <setting name="TITLE" serializeAs="String">
                <value />
            </setting>
            <setting name="VOLUME" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VERSION_CHECKED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P_HP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WINNER" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TEAM_ROUND_HP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SERVER_MODE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SERVER_MODE_PORT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ERRORED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="CONNECTION_TYPE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SERVER_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="CONNECTION_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="WELCOME" serializeAs="String">
                <value />
            </setting>
            <setting name="BOOKMARK_COUNT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BOOKMARK_DELETED_COUNT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BOOKMARK_SERVER_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="BOOKMARK_CONNECTION_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="BOOKMARK_CONNECTION_TYPE" serializeAs="String">
                <value />
            </setting>
            <setting name="BOOKMARK_PORT" serializeAs="String">
                <value />
            </setting>
            <setting name="GAME_EXE" serializeAs="String">
                <value />
            </setting>
            <setting name="REPLAY_FOLDER" serializeAs="String">
                <value />
            </setting>
            <setting name="VS_SOUND" serializeAs="String">
                <value />
            </setting>
            <setting name="VS_SOUND_ENABLE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NOTICE_SOUND" serializeAs="String">
                <value />
            </setting>
            <setting name="NOTICE_SOUND_ENABLE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ENTER_SOUND" serializeAs="String">
                <value />
            </setting>
            <setting name="ENTER_SOUND_ENABLE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NAME_SOUND" serializeAs="String">
                <value />
            </setting>
            <setting name="NAME_SOUND_ENABLE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TALK_SOUND" serializeAs="String">
                <value />
            </setting>
            <setting name="TALK_SOUND_ENABLE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SEEK_SOUND" serializeAs="String">
                <value />
            </setting>
            <setting name="SEEK_SOUND_ENABLE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KEYWORD_SOUND" serializeAs="String">
                <value />
            </setting>
            <setting name="KEYWORD_SOUND_ENABLE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KEYWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="CHAR_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="CHAR_COMMENT" serializeAs="String">
                <value />
            </setting>
            <setting name="CHAR_LOOKING" serializeAs="String">
                <value />
            </setting>
            <setting name="CHAR_AVOIDING" serializeAs="String">
                <value />
            </setting>
            <setting name="CHAR_REGION" serializeAs="String">
                <value />
            </setting>
            <setting name="CHAR_GG" serializeAs="String">
                <value />
            </setting>
            <setting name="GG_ENABLE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PORT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPEN_PORT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AUTO_SAVE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MAX_CONNECTION" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BGM_VOLUME" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SE_VOLUME" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SIMULATE_DELAY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HIT_JUDGE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAY_NAME" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAY_VERSUS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAY_FRAMERATE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAY_RAND" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="REPLAY_DIVIDE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CHANGE_WINDOW_SIZE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CHAT_HISTORY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DELAY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="INTERVAL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="REPLAY_VERSION" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RECORD_REPLAY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ALLOW_SPECTATOR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOG_WORDWRAP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOG_LOCK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOG_FORMAT_RTF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NAME_FLASH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TALK_FLASH" serializeAs="String">
                <value>False</value>
            </setting>
        </MorningStar.Properties.Settings>
    </userSettings>
</configuration>